<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Kitapp | CMS">
    <meta property="og:description" content="">
    <meta property="og:image" content="assets/meta-image.jpg">
    <meta property="og:url" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <title>KITAPP CMS</title>
  </head>

<body class="dashboard">
  <div class="row">

    <!-- // Sidebar -->
    <div class="sidebar">
      <div class="brand">
        <img src="assets/logo-default.png">
      </div>

      <div class="account">
          <div class="account-profile">
            <img src="assets/image-profile.jpg" class="rounded-circle">
          </div>

          <p class="account-name">Juan Dela Cruz</p>
          <p class="account-email">jdelacruz@gmail.com</p>

          <a href="index.html" class="btn btn-primary-round">Sign out</a>
      </div>

      <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="cms-welcome.html"> Welcome</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cms-products.html"> Products</a>
            </li>
             <li class="nav-item">
              <a class="nav-link active" href="cms-messages.html"> Messages</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="cms-videos.html"> CBF Videos</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="cms-programs.html"> Trade Programs</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="cms-pages.html"> Pages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cms-users.html"> Manage Users</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="cms-account.html"> Change Password</a>
            </li>
          </ul>       
    </div>

    <!-- // Dashboard Content -->
    <div class="dashboard-content page-messages">
      <div class="container">
          <div class="row-fluid">
            <div class="col-md-12 page-title">
              <h4>Messages</h4>
              <p>Messages <i class="fas fa-chevron-right"></i> Edit Screen Messages </p>
            </div>

            <div class="col-md-12 page-content">
              <div class="page-messages--edit">
                <div class="col-md-6">
                  <h3>Screen Title</h3>
                  <img src="assets/messages-thumbnail.png">
                </div>

                <div class="col-md-6">
                  <a href="#.html" class="btn btn-primary-round float-right"><i class="far fa-edit"></i> Edit</a>
                  <textarea class="form-control" disabled>Screen Message</textarea>
                </div>

                <!-- If Edit is clicked -->
                <div class="col-md-6">
                  <a href="cms-messages.html" class="btn btn-success-round float-right"> Save</a>
                  <a href="cms-messages.html" class="btn btn-cancel-round float-right"> Cancel</a>
                  <textarea class="form-control form-enable">Screen Message</textarea>
                  <small class="form-text text-muted">Character/s Remaining: 60</small></label>
                </div>
                <!-- End -->
                
              </div>
          </div>
      </div>
    </div>
 </body>
 
 <script type="text/javascript" src="js/jquery.min.js"></script>
 <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script> 
 <script type="text/javascript" src="js/moment.min.js"></script>
 <script type="text/javascript" src="js/custom.min.js"></script>

</html>