<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Kitapp | CMS">
    <meta property="og:description" content="PMFTC Kitapp">
    <meta property="og:image" content="image/logo-default.png">
    <meta property="og:url" content="https://pfmtc.kitapp.com/">
    <link rel="icon" type="image/png" sizes="96x96" href="image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <title>KITAPP CMS</title>
  </head>

 <body class="login">
     <main role="main" class="container-fluid no-gutters">
     	<div class="col-md-12 no-gutters">
     		<div class="row">
		        <div class="col-md-5 login-bg"></div>
		        <div class="col-md-7 login-form login-page">
		        	<h2>Welcome!</h2>
		        	<form>
						<div class="form-group">
		        		<input type="email" class="form-control" placeholder="Email Address" required>
						<div class="invalid-feedback" id="login-email-error">Invalid email address</div>
						</div>

						<div class="form-group">
		        		<input type="password" class="form-control" placeholder="Password" required>
						<div class="invalid-feedback error-content">
				          Incorrect email or password
				        </div>
						</div>


		        		<a class="btn btn-primary-round disabled" id="login_btn">Log In</a>
		        		<a href="/forgot-password">Forgot your password?</a>

		        	</form>
					<div class="footer">
				 		<p>Copyright © 2019 PMFTC-KitApp. All rights reserved. 
				 		<a href="privacy-policy">Privacy Policy</a> | 
				 		<a href="terms-conditions">Terms and Conditions</a>
			 		</div>
		        </div>
	 		</div>  
     	</div>
    </main><!-- /.container -->

 </body>

 <script type="text/javascript" src="js/js-util/jquery.min.js"></script>
 <script type="text/javascript" src="js/app.js"></script>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
</html>