    <div class="dashboard-content page-messages">
      <div class="container">
          <div class="row-fluid">
            <div class="col-md-12 page-title">
              <h4>Messages</h4>
              <p>Messages <i class="fas fa-chevron-right"></i> Messages View </p>
            </div>

            <div class="col-md-12 page-content">

              <!-- Alert Messages -->
              <div class="alert alert-success" role="alert" id="success_edit_message" style="display:none;">
                <b>Edited</b> successfully!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!-- First Row -->
              <div class="row">
                <div class="col-md-4">
                  <img src="image/messages-screen-1.png" class="rounded" alt="...">
                   <textarea class="form-control" disabled id="d7818f72-0003-46bf-b4ec-2023e6fb407e_textarea" required>{{messages.3.content}}</textarea>
                  <a class="btn btn-primary-round btn-block edit-message-btn" id="d7818f72-0003-46bf-b4ec-2023e6fb407e"><i class="far fa-edit"></i> Edit</a>
                </div>

                <div class="col-md-4">
                  <img src="image/messages-screen-5.png" class="rounded" alt="...">
                   <textarea class="form-control" disabled id="a28a6dc5-c9bb-4106-9f63-2546d97b26ca_textarea" required>{{messages.0.content}}</textarea>
                  <a class="btn btn-primary-round btn-block edit-message-btn" id="a28a6dc5-c9bb-4106-9f63-2546d97b26ca"><i class="far fa-edit"></i> Edit</a>
                </div>

                <div class="col-md-4">
                  <img src="image/messages-screen-2.png" class="rounded" alt="...">
                   <textarea class="form-control" disabled id="e8a7b27e-0c3d-42c5-bd8a-4304285ae958_textarea" required>{{messages.2.content}}</textarea>
                  <a class="btn btn-primary-round btn-block edit-message-btn" id="e8a7b27e-0c3d-42c5-bd8a-4304285ae958"><i class="far fa-edit"></i> Edit</a>
                </div>

              </div>
              <!-- end of first row-->

              <!-- Second Row -->
              <div class="row">
                <div class="col-md-4">
                  <img src="image/messages-screen-4.png" class="rounded" alt="...">
                   <textarea class="form-control" disabled id="d7407f8f-7a65-43ea-bc7f-c58b146cc323_textarea"  required>{{messages.1.content}}</textarea>
                  <a class="btn btn-primary-round btn-block edit-message-btn" id="d7407f8f-7a65-43ea-bc7f-c58b146cc323"><i class="far fa-edit"></i> Edit</a>
                </div>


              </div>
            </div>
            <!-- end of second row-->

          </div>
      </div>
    </div>