<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Kitapp | CMS">
	  <meta property="og:description" content="PMFTC Kitapp">
	  <meta property="og:image" content="image/logo-default.jpg">
	  <meta property="og:url" content="https://pfmtc.kitapp.com/">
	  <link rel="icon" type="image/png" sizes="96x96" href="image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
	  <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <title>KITAPP CMS</title>
  </head>

 <body class="privacy-terms">
    <header>
      <nav class="navbar navbar-expand-md fixed-top">
        <a href="/"><img src="image/logo-white.png" class="logo"></a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Back to Homepage</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    
    <main role="main">
      <div class="container">
        <div class="col-md-12">
          <a href="/" class="back-home"> Back to Homepage</a>
          <h1> Privacy Policy </h1>
        </div>

        <div class="col-md-12">
          <h4>Who are we?</h4>
          <p>We are a member of Philip Morris International. Our details (name, address, etc.) will have been given to you separately at the time of (or to confirm) the collection of information about you, for example, in a notice on an app or a website, in an e-mail, or in a contract between us, containing a link to this notice.</p>

          <ul>
            <li>PMI: Philip Morris International, a leading international tobacco group. It is made up of a number of companies or “affiliates”.</li>
            <li>PMI affiliates: Each member of the Philip Morris International group of companies is a “PMI affiliate”. “We” (or “us” or “our”) refers to the PMI affiliate that first collected information about you.</li>
            <li>PMI product: means a product of ours or of another PMI affiliate.</li>
          </ul>

          <h4>How do we collect information about you?</h4>

          <p>We may collect information about you in various ways.</p>

          <ul>
            <li>You may provide us with information directly (e.g. signing a contract, filling in a form, or making a call to us).</li>
            <li>We may collect information automatically (e.g. when you use a PMI app or website).</li>
            <li>We may acquire information from third parties (e.g. publicly-available information on social media platforms such as LinkedIn, Facebook and Twitter).</li>
          </ul>

          <p>In this notice, we refer to all the methods by which you are in contact with us as “PMI touchpoints”. PMI touchpoints include both physical (for example, PMI offices, retail outlets and events), and digital (for example, e-mail correspondence, apps and websites).</p>

          <p>We may collect information that you provide directly. Typically this will happen when you:</p>

          <ul>
            <li>sign up to be a member of our databases (this could be, for example, in person, via app, or online);</li>
            <li>trade in, or provide advice concerning, PMI products or services, for example at a retail outlet;</li>
            <li>enter into an arrangement with us to sell, promote or distribute PMI products (or to support those activities);</li>
            <li>download, or use, a digital PMI touchpoint (e.g. an app or a website);</li>
            <li>contact us through a PMI touchpoint, or by e-mail, social media or telephone;</li>
            <li>register a device with us;</li>
            <li>enrol a consumer to be a member of our databases;</li>
            <li>subscribe to a PMI panel portal;</li>
            <li>register to receive PMI press releases, e-mail alerts, or marketing communications;</li>
            <li>participate in PMI surveys or (where permitted by law) PMI competitions or promotions; or</li>
            <li>visit our offices or attend an event that a PMI affiliate has organised.</li>
          </ul>

          <p>We may collect information about you automatically. Typically this will happen when you:</p>

          <ul>
            <li>visit our offices (e.g. through video (CCTV) recording and building access logs);</li>
            <li>work at, or visit, an outlet that sells PMI products (e.g. by collecting your data at check-out, or through sensors at the outlet that connect with mobile technology);</li>
            <li>attend an event that a PMI affiliate has organised (e.g. through sales or purchases at the event) or through sensors at the event that connect with mobile technology;</li>
            <li>communicate with us (for example, through a PMI touchpoint; or social media platforms);</li>
            <li>use PMI touchpoints (e.g. through tracking mechanisms in an app or a website); or</li>
            <li>make public posts on social media platforms that we follow (for example, in order to understand public opinion, or to respond to requests concerning PMI products).</li>
          </ul>

          <p>We may also collect information about you automatically through the use of cookies and similar tracking technologies on digital PMI touchpoints. The specific cookies and technologies used will depend on the PMI touchpoint in question. To learn about the cookies (including Google analytics cookies) and similar technologies used on a touchpoint, including how you can accept or refuse cookies, please see the cookie notice made available on or through that touchpoint.
          <br><br>
          Where permitted by law, we may acquire information about you from third parties. This may include information shared between PMI affiliates, publicly-available profile information (such as your preferences and interests) on third party social media sites (such as LinkedIn, Facebook and Twitter), and marketing lists acquired from third party marketing agencies.
          <br><br>
          We may also collect information in other contexts made apparent to you at the time.</p>

          <h4>What information about you do we collect?</h4>
          <p>We may collect various types of information about you:</p>

          <ul>
            <li>information necessary to manage and administer our relationship with you, your employer or representative</li>
            <li>information necessary to trade in, or to provide advice concerning, PMI products or services (for example, to fulfil orders)</li>
            <li>information necessary to provide support for PMI products or services, or to provide warranty services</li>
            <li>information about what you do in your business concerning our consumers, PMI products, or us (e.g. enrolling a consumer to be a member of our databases, performing warranty services, displaying PMI products and point of sale materials, etc.)</li>
            <li>information you give us in contracts, forms or surveys or in interactions on digital touchpoints</li>
            <li>information about your visits to our offices, outlets and events</li>
            <li>information you give us in contacts (such as calls, e-mails, etc.) you have with call centres</li>
            <li>information about your preferences and interests</li>
            <li>information necessary to verify your age, identity and authority to act on behalf of your employer if applicable</li>
          </ul>

          <p>Information that we collect from you directly will be apparent from the context in which you provide it. For example:</p>

          <ul>
            <li>if you order a product from us through a PMI touchpoint, you provide your name, contact, billing details, and the products you have chosen so that we can fulfil your order;</li>
            <li>if we are in a distribution relationship, you provide your name, contact and billing details so that we can manage our relationship with you or your employer and fulfil our contract with you or your employer;</li>
            <li>you may provide information on your product preferences and interests so that we can offer you products and services that will interest you;</li>
            <li>we may collect information that enables us to verify your age, for example a copy of an identity document or your facial image;</li>
            <li>you may send us a photograph of the way you have displayed PMI products or point of sale materials;</li>
            <li>you may respond to text messages;</li>
            <li>you may enrol a consumer to be a member of our databases, for example so that we can perform warranty services.</li>
          </ul>

          <p>Information that we collect automatically will generally concern:</p>
          <ul>
            <li>details of your visit or call (such as time and duration);</li>
            <li>in our offices, a sales outlet or at an event (including areas in the immediate vicinity), how frequently you visit, which areas you visit and for how long, and which purchases you make;</li>
            <li>your use of digital PMI touchpoints (such as the pages you visit, the page from which you came, and the page to which you went when you left, search terms entered, or links clicked within the touchpoint); and</li>
            <li>your device (such as your IP address or unique device identifier, location data, details of any cookies that we may have stored on your device).</li>
          </ul>

          <p>Information that we collect from third parties will generally consist of publicly-available information (such as your preferences and interests), for example from public social media posts.</p>

          <h4>For what purposes do we use information about you, and on what legal basis?</h4>
          <p>In this section, we describe the purposes for which we use personal information. However, this is a global notice, and where the laws of a country restrict or prohibit certain activities described in this notice, we will not use information about you for those purposes in that country.
          <br><br>
          Subject to the above, we use information about you for the following purposes:</p>

          <ul>
            <li>To comply with regulatory obligations, such as verifying your age, identity and retailer status, undertaking “know your supplier” checks and managing our contractual relationship with you or your employer</li>
            <li>Legal compliance, such as retaining and using your records in relation to any anticipated disputes, for the purposes of obtaining advice from our lawyers and other advisers</li>
            <li>To sell our products to you, including fulfilling your orders, processing your payments</li>
            <li>To provide sales-related services to you, including dealing with your inquiries and requests, and providing warranty services</li>
            <li>To inform you of updates, promotions, events and manage related aspects of our relationship, including administering loyalty programs, helping you to help adult consumers with their accounts and (where permitted by law) loyalty programs, product improvement, market research, developing marketing strategies, administering marketing campaigns, and customizing your experiences at outlets that sell PMI products and at events</li>
            <li>Registering adult consumers in our databases, for example to market our products</li>
            <li>To support all the above, including administering your or your employer’s accounts, enabling you to use PMI touchpoints and (as applicable) sell, promote and distribute PMI products (or support those activities), corresponding with you, customizing your experiences of PMI touchpoints, administration and troubleshooting, general record keeping and managing your access to any systems to which we have granted you access</li>
            <li>For business analytics and improvements, including improving PMI products, offices, processes, outlets and events, and the information that we (or our affiliates) provide to our customers and suppliers</li>
            <li>For us or our business partners to inform you of potential opportunities to get involved in marketing or promoting PMI products</li>
            <li>For other purposes that we notify you of, or will be clear from the context, at the point information about you is first collected</li>
          </ul>

          <p>The legal basis for our use of information about you is one of the following (which we explain in more detail in the “find out more” section):</p>

          <ul>
            <li>compliance with a legal obligation to which we are subject;</li>
            <li>the performance of a contract to which you are a party;</li>
            <li>a legitimate business interest that is not overridden by interests you have to protect the information;</li>
            <li>where none of the above applies, or where law requires it, your consent (which we will ask for before we process the information).</li>
          </ul>

          <p>The purposes for which we use information about you, with corresponding methods of collection and legal basis for use, are:</p>

          <table class="table table-bordered">
            <thead>
              <tr>
                 <th>Purpose</th>
                 <th>Legal Basis for Processing</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><b>Comply with regulatory obligations</b>
                    <br><br>
                    <ul>
                      <li>verify your age, identity and retailer status</li>
                      <li>tax and business accounting obligations</li>
                      <li>trade sanctions</li>
                      <li>background checks</li>
                      <li>health and safety management</li>
                      <li>legal and regulatory disclosure requests</li>
                      <li>conflicts of interest</li>
                      <li>keeping contracts and associated documents in which you may be referred to</li>
                      <li>investigation of reported allegations of misconduct</li>
                    </ul>
                </td>
                <td>This information is generally provided to us by you directly.
                    <br><br>
                    We use it because it is necessary for us to comply with a legal obligation to trade only with adults and to run our business in a compliant way (including in relation to company law and tax compliance), keep financial and tax records, comply with trade sanctions, comply with health and safety laws (which may include keeping records of incidents), produce reports, comply with requests for information from competent authorities and manage any conflicts of interest, or, in countries where there is no such legal obligation, because we have a legitimate business interest to trade only with adults and to run our business in accordance with good practice requirements that is not overridden by your interests, rights and freedoms to protect information about you.</td>
              </tr> 
              
              <tr>
                <td>
                    <b>Sell our products</b>
                    <br><br>
                    <ul>
                      <li>fulfil your orders (including sending receipts)</li>
                      <li>process your payments</li>
                      <li>provide warranty services</li>
                    </ul>
                </td>
                <td>This information is generally provided to us by you directly or via your employer as applicable (typically, name, role, address, e-mail address, payment information, correspondence).
                <br><br>
                We use it to discharge our contractual obligations to you or your employer as a buyer of our products.
                </td>
              </tr> 

              <tr>
                <td>
                    <b>Provide sales-related services</b>
                    <br><br>
                    <ul>
                      <li>deal with your inquiries and requests</li>
                      <li>correspond with you</li>
                      <li>general administration and troubleshooting</li>
                      <li>administer loyalty programs</li>
                      <li>relationship management</li>
                    </ul>
                </td>
                <td>This information is generally provided to us by you directly or via your employer.
                  <br><br>
                  We use it because we have a legitimate business interest in providing sales-related services to you or your employer that is not overridden by your interests, rights and freedoms to protect information about you.</td>
              </tr> 

              <tr>
                <td>
                    <b>Business promotion and relationship management (where permitted by law)</b>
                    <br><br>
                    <ul>
                      <li>inform you of relevant updates, promotions and events</li>
                      <li>manage our relationship</li>
                      <li>register adult consumers in our databases</li>
                      <li>help you to help adult consumers with their accounts</li>
                      <li>understand your preferences (such as what products or events may interest you or may be better tailored to your needs)</li>
                      <li>administer loyalty programs/li>
                      <li>invite you to participate in, and administer, surveys or market research campaigns</li>
                      <li>for market research</li>
                      <li>develop marketing strategies</li>
                      <li>administer marketing campaigns</li>
                      <li>customize your experience of PMI touchpoints (for example, to personalize your visit, such as with greetings or suggestions that might interest you)</li>
                    </ul>
                </td>
                <td>This will typically be a combination of information that you provide to us (for example, your name and contact and social media details); information that we collect automatically (for example, using technology to monitor use of PMI touchpoints) and (where permitted by law) information that we acquire from third parties (such as public social media posts).
                <br><br>
                We use it on the grounds that we have a legitimate business interest to manage our relationship and tell you about our business, products and events, to operate PMI touchpoints, and to customize your experiences, in these ways that is not overridden by your interests, rights and freedoms to protect information about you.</td>
              </tr> 

              <tr>
                <td>
                    <b>Business promotion and relationship management (where permitted by law)</b>
                    <br><br>
                    <ul>
                      <li>provide you with information about, and to manage, PMI affiliates, their promotions, products and services, outlets, events and the regulation of tobacco products; and to develop and improve tools to pursue these purposes</li>
                    </ul>
                </td>
                <td>This will typically be a combination of information that you provide to us (for example, your name and contact details, your social media handles); information that we collect automatically (for example, using cookies and similar technologies) and (where permitted by law) information that we acquire from third parties (such as public social media posts).
                <br><br>
                We use it on the grounds that we have a legitimate business interest to inform you about these things that is not overridden by your interests, rights and freedoms to protect information about you.
                <br><br>
                In certain countries, where required by law, we will send you these materials in electronic format only with your consent.</td>
              </tr>

              <tr>
                <td>
                    <b>Business administration</b>
                    <br><br>
                    <ul>
                      <li>general organizational management and business record keeping</li>
                      <li>trader lifecycle management (from engagement to departure)</li>
                      <li>visitor administration and record keeping</li>
                      <li>administering and running events, training and compliance programmes</li>
                      <li>correspondence in relation to our relationship with you or your employer, including to deal with your inquiries and requests</li>
                      <li>IT systems development, implementation, operation and maintenance</li>
                      <li>maintaining the security of systems, devices and buildings</li>
                      <li>the operation of contact databases and collaboration tools</li>
                      <li>operating a safe work environment</li>
                      <li>maintaining the security and safety of PMI affiliates’ staff, customers, suppliers, visitors and the property of each</li>
                    </ul>
                </td>
                <td>This information is generally provided to us by you directly or via your employer.
                    <br><br>
                    We use it because we have a legitimate business interest to run our business, manage our relationship with you or your employer and maintaining the security and integrity of our buildings and IT systems that is not overridden by your interests, rights and freedoms to restrict use of information about you.
                </td>
              </tr>

              <tr>
                <td>
                    <b>Security and systems monitoring</b>
                    <br><br>
                    <ul>
                      <li>authentication and access controls and logs, where applicable</li>
                      <li>monitoring of PMI systems, devices, internet and e-mail to which you are granted access/li>
                      <li>monitoring of access to PMI premises, deliveries to PMI affiliates, and security-related processes at our premises</li>
                    </ul>
                </td>
                <td>
                  This information is collected automatically through various means such as automated systems and device monitoring, and CCTV recording and audio recording of some telephone calls at our premises.
                  <br><br>
                  We use it because we have a legitimate business interest in ensuring the confidentiality, integrity and security of our physical and digital infrastructure and premises that is not overridden by your interests, rights and freedoms to protect information about you.
                </td>
              </tr> 

              <tr>
                <td>
                    <b>Support for all the above purposes</b>
                    <br><br>
                    <ul>
                      <li>administering your accounts</li>
                      <li>enabling you to use PMI touchpoints (for example, allowing you to remain logged in to sections of a touchpoint that are reserved for authorized users only, administering your language preference, associating your shopping cart with you)</li>
                      <li>corresponding with you</li>
                      <li>enhancing your experiences, such as suggesting orders of products that might be suitable for you (for example, based on previous orders)</li>
                      <li>administration and troubleshooting</li>
                    </ul>
                </td>
                <td>This will typically be a combination of information that you provide to us (typically, name, password (or equivalent)) and information that we collect automatically (for example, information about your device, and cookies and similar tracking technologies).
                <br><br>
                We use it on the grounds that correspond to the purpose for using the information that we are supporting. For example, where we administer your account to support a purchase or to provide after-sales service, we use the information to discharge our contractual obligations to you as a buyer of our products; where we administer your account to update you on our products or where we suggest orders that might be suitable for you, we are supporting business development and so we use it on the grounds that we have a legitimate business interest to market our products that is not overridden by your interests, rights and freedoms to protect information about you, and so on.</td>
              </tr> 

              <tr>
                <td>
                    <b>Business analytics and improvements</b>
                    <br><br>
                    <ul>
                      <li>allowing us or our business partners to inform you of potential opportunities to get involved in promoting PMI products</li>
                      <li>for business analytics and improvements (including for PMI products, systems, processes, offices, outlets that sell PMI products, training, events, digital PMI touchpoints and the information that we (or our affiliates) provide to you, your employer or our customers)</li>
                    </ul>
                </td>
                <td></td>
              </tr> 
            </tbody>
          </table>

          <p>Where we do not base our use of information about you on one of the above legal bases, or where law requires it, we will ask for your consent before we process the information (these cases will be clear from the context).
          <br><br>
          In some instances, we may use information about you in ways that are not described above. Where this is the case, we will provide a supplemental privacy notice that explains such use. You should read any supplemental notice in conjunction with this notice.
          </p>

          <h4>Who do we share your information with, and for what purposes?</h4>
          <p>We may share information about you with:</p>

          <ul>
            <li>PMI affiliates;</li>
            <li>third parties who provide PMI affiliates or you with products or services (such as professional advisers, payment service providers, delivery providers, auditors and information services providers);</li>
            <li>PMI affiliates’ carefully selected business partners and advertisers (in areas connected with our products, or consistent with their style and image) so that they can contact you with offers that they think may interest you, in accordance with your preferences for trade programs, educational materials and training; and</li>
            <li>other third parties, where required or permitted by law (such as regulatory authorities; government departments and professional advisers).</li>
          </ul>

          <p>We share information about you with others only in accordance with applicable laws. Thus, where law requires your consent, we will first ask for it.</p>

          <b>Sharing data with other PMI affiliates</b>

          <ul>
            <li>Information about you will be shared with Philip Morris Products S.A. (based in Neuchâtel, Switzerland), which is the place of central administration of personal data processing for PMI affiliates. Information about you may also be shared with Philip Morris International IT Service Centre Sàrl (based in Lausanne, Switzerland) as technology provider for PMI affiliates. Philip Morris Products S.A. and (to the extent it has access) Philip Morris International IT Service Centre Sàrl process the information about you for all the purposes described in this notice.</li>
            <li>Information about you may be shared with the PMI affiliate that is responsible for the country in which you work (if it wasn’t the PMI affiliate that first collected the information) for all the purposes described in this notice.</li>
            <li>Information about you may be shared with any other PMI affiliate that you contact or do business with (for example, if you sell products or services to other PMI affiliates or travel to other PMI offices during the time you have a commercial relationship with a PMI affiliate).</li>
          </ul>

          <p>Details of PMI affiliates and the countries in which they are established are available <a href="https://pmiprivacy.com/en/traders/affiliates">here</a>.</p>

          <b>Country-specific additional points</b>
          <p>According to which country you are in, we want you to be aware of some further points.</p>

          <b>If you are in Japan, find out more…</b>

          <p>If you are in Japan, note that we share information about you, for the purposes described in this notice, with other PMI affiliates on the basis of “joint use” under Japanese data protection laws. When we do this, Philip Morris Japan Limited (PMJ) continues to manage your personal information responsibly, and we require those with whom we share the data to do the same. Further, if they are located outside Japan, we take reasonable measures in accordance with the relevant laws and regulations.</p>

          <b>Sharing data with Third Parties</b>

          <ul>
            <li>To the extent permitted by applicable law, we may share information about you with third parties who provide PMI affiliates or you with products or services (such as advisers, payment service providers, delivery providers, retailers, product coaches, information services providers and age verification providers).</li>
            <li>To the extent permitted by applicable law, we may share information about you with PMI affiliates’ carefully-selected third party business partners and advertisers (in line with the kind of thing you might associate with our products, for example because they have similar or complementary image, style, or functionality) so that they can contact you with products, services and promotions that they think may interest you, in accordance with your preferences.</li>
            <li>We may share information about you with other third parties, where required or permitted by law, for example: regulatory authorities; government departments; in response to a request from law enforcement authorities or other government officials; when we consider disclosure to be necessary or appropriate to prevent physical harm or financial loss or in connection with an investigation of suspected or actual illegal activity; and in the context of organisational restructuring. </li>
          </ul>

          <h4>Where might information about you be sent?</h4>

          <p>As with any multinational organisation, PMI affiliates transfer information globally. Accordingly, information about you may be transferred globally (for example, if you are in the European Economic Area ("EEA"), your information may be transferred outside the EEA; if you are in Australia, you information may be transferred outside Australia).</p>

          <p>When using information as described in this notice, information about you may be transferred either within or outside the country or territory where it was collected, including to a country or territory that may not have equivalent data protection standards.
          <br><br>
          PMI affiliates within the EEA will transfer personal information to PMI affiliates outside the EEA. For example, to facilitate the operation of a global business. In all cases, the transfer will be:</p>

          <ul>
            <li>on the basis of a <a href="http://ec.europa.eu/justice/data-protection/international-transfers/adequacy/index_en.htm">European Commission adequacy decision</a>;</li>
            <li>subject to appropriate safeguards, for example the <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en">EU Model Contracts</a>, or</li>
            <li>necessary to discharge obligations under a contract between you and us (or the implementation of pre-contractual measures taken at your request) or for the conclusion or performance of a contract concluded in your interest between us and a third party, such as in relation to travel arrangements.</li>
          </ul>

          <p>In all such cases, appropriate security measures for the protection of personal information will be applied in those countries or territories, in accordance with applicable data protection laws.<br>
          Our service providers are located in many countries throughout the world, including in particular the EEA, Switzerland, the USA, Canada, India, the Philippines, Indonesia, and Australia.</p>

          <h4>How do we protect information about you?</h4>
          <p>We implement appropriate technical and organisational measures to protect personal information that we hold from unauthorised disclosure, use, alteration or destruction. Where appropriate, we use encryption and other technologies that can assist in securing the information you provide. We also require our service providers to comply with strict data privacy and security requirements.</p>

          <h4>How long will information about you be kept?</h4>
          <p>We will retain information about you for the period necessary to fulfil the purposes for which the information was collected. After that, we will delete it. The period will vary depending on the purposes for which the information was collected. Note that in some circumstances, you have the right to request us to delete the information. Also, we are sometimes legally obliged to retain the information, for example, for tax and accounting purposes.</p>

          <p>Typically, we retain data based on the criteria described in the table below:</p>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Type</th>
                <th>Explanation/typical retention criteria</th>
            </thead>

            <tbody>
              <tr>
                <td>
                    <ul>
                      <li>information relating to managing the commercial relationship with the trader (trader using digital touchpoints and contactable) </li>
                    </ul>
                </td>
                <td>Most of the information in your trader profile is kept for the duration of our trader relationship with you. However, some elements of your profile, such as your history of completed tasks, your prize redemption history, or your purchase history, naturally go out of date after a period of time, so we delete them automatically after defined periods as appropriate for the purpose for which we collected them.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>information relating to managing the commercial relationship with the trader (trader inactive on digital touchpoints</li>
                    </ul>
                </td>
                <td>This scenario is the same as above, save that you have ceased to use the digital touchpoint for a long period (typically 2 years), we will remove your access to the digital platform and delete the records we still have relating to your use of it (unless it falls within another purpose of processing, such as records of your orders). The reason is that in these circumstances, we assume you would prefer not to use the digital platform.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>trader (not contactable)</li>
                    </ul>
                </td>
                <td>If you are registered with us as a trader, but the information you give us to contact you doesn’t work, we will retain your information for a period of typically only 6 months to allow you to return and correct it.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>trader (incomplete registrations)</li>
                    </ul>
                </td>
                <td>If you commence registering yourself as a trader, but do not complete the process, we will not retain your data at all.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>business and payment records</li>
                    </ul>
                </td>
                <td>We keep records of invoices, sales, purchases, payments made and received and supporting documents (such as contracts and e-mails) in accordance with company and tax requirements, typically 11 years. We also keep records of checks carried out on suppliers for as long as we are required to comply with our legal and regulatory obligations.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>visitor records</li>
                    </ul>
                </td>
                <td>If you visit our buildings, visitor records are retained typically for a period of three years.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>CCTV</li>
                    </ul>
                </td>
                <td>If you visit our buildings, CCTV records retained typically for a period of only a few days, up to a few weeks, depending on the specific purpose for the recording.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>market research</li>
                    </ul>
                </td>
                <td>If you are not registered in our database, and we use publicly available information about you in order to understand the market or your preferences, we will retain the information about you for a short period in order to perform the particular item of market research.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>purchases and warranty</li>
                    </ul>
                </td>
                <td>complete the sale, and to comply with any legal obligations (for example, for tax and accounting record-keeping purposes). If you also register for a warranty for a PMI product, we will retain details of this for so long as relevant to the warranty.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>customer care</li>
                    </ul>
                </td>
                <td>If you contact customer care, we will make a record of the matter (including details of your enquiry and our response) and retain it while it remains relevant to our relationship, for example if you need us to advise you on how to use a digital touchpoint, or if your recent enquiries are relevant. Other records relevant to customer care (for example, an automated recording of a telephone call in which you ask us to direct you to a retail outlet) may be relevant only until more permanent records are made, and will be retained only temporarily.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>system audit logs</li>
                    </ul>
                </td>
                <td>System audit logs are retained typically for a period of only a few months.</td>
              </tr> 

              <tr>
                <td>
                    <ul>
                      <li>business analytics</li>
                    </ul>
                </td>
                <td>Business analytics data is typically collected automatically when you use PMI touchpoints and anonymised/aggregated shortly afterwards./td>
              </tr> 
            </tbody>
          </table>

          <h4>What rights and options do you have?</h4>

          <p>You may have some or all of the following rights in respect of information about you that we hold:</p>

          <ul>
            <li>request us to give you access to it;</li>
            <li>request us to rectify it, update it, or erase it;</li>
            <li>request us to restrict our using it, in certain circumstances;</li>
            <li>object to our using it, in certain circumstances;</li>
            <li>withdraw your consent to our using it;</li>
            <li>data portability, in certain circumstances;</li>
            <li>opt out from our using it for direct marketing; and</li>
            <li>lodge a complaint with the supervisory authority in your country (if there is one).</li>
          </ul>

          <p>We offer you easy ways to exercise these rights, such as “unsubscribe” links, or giving you a contact address, in messages you receive or by using the contacts in the paragraph “who should you contact with questions?” at the end of this notice.
          <br><br>
          Some mobile applications we offer might also send you push messages, for instance about new products or services. You can disable these messages through the settings in your phone or the application.</p>

          <p>The rights you have depend on the laws of your country. If you are in the European Economic Area, you will have the rights set out in the table below. If you are elsewhere, you can contact us (see the paragraph “who should you contact with questions?” at the end of this notice) to find out more.<p>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Right in respect of the information about you that we hold</th>
                <th>Further detail (note: certain legal limits to all these rights apply)</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <ul>
                    <li>to request us to give you access to it</li>
                  </ul>
                </td>
                <td>
                  <p>This is confirmation of:</p>
                  <ul>
                    <li>whether or not we process information about you;</li>
                    <li>our name and contact details;</li>
                    <li>the purpose of the processing;</li>
                    <li>the categories of information concerned;</li>
                    <li>the categories of persons with whom we share the information and, where any person is outside the EEA and does not benefit from a <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en"> European Commission adequacy decision</a>, the appropriate safeguards for protecting the information;</li>
                    <li>(if we have it) the source of the information, if we did not collect it from you;</li>
                    <li>(to the extent we do any, which will have been brought to your attention) the existence of automated decision-making, including profiling, that produces legal effects concerning you, or significantly affects you in a similar way, and information about the logic involved, as well as the significance and the envisaged consequences of such processing for you; and</li>
                    <li>the criteria for determining the period for which we will store the information.</li>
                  </ul>
                  <p>On your request we will provide you with a copy of the information about you that we use (provided this does not affect the rights and freedoms of others).</p>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>to request us to rectify or update it</li>
                  </ul>
                </td>
                <td>
                  <p>This applies if the information we hold is inaccurate or incomplete.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>to request us to erase it</li>
                  </ul>
                </td>
                <td>
                  <p>This applies if:</p>
                  <ul>
                    <li>the information we hold is no longer necessary in relation to the purposes for which we use it;</li>
                    <li>we use the information on the basis of your consent and you withdraw your consent (in this case, we will remember not to contact you again, unless you tell us you want us to delete all information about you in which case we will respect your wishes);</li>
                    <li>we use the information on the basis of legitimate interest and we find that, following your objection, we do not have an overriding interest in continuing to use it;</li>
                    <li>the information was unlawfully obtained or used; or</li> 
                  </ul>
                  <p>to comply with a legal obligation.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>to request us to restrict our processing of it</li>
                  </ul>
                </td>
                <td>
                  <p>This right applies, temporarily while we look into your case, if you:</p>
                  <ul>
                    <li>contest the accuracy of the information we use; or</li>
                    <li>have objected to our using the information on the basis of legitimate interest
                    (if you make use of your right in these cases, we will tell you before we use the information again).
                    <br><br>
                    This right applies also if:
                    </li>
                    <li>our use is unlawful and you oppose the erasure of the data; or</li>   
                  </ul>
                  <p>we no longer need the data, but you require it to establish a legal case.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>to object to our processing it</li>
                  </ul>
                </td>
                <td>
                  <p>You have two rights here:</p>
                  <ul>
                    <li>if we use information about you for direct marketing: you can “opt out” (without the need to justify it) and we will comply with your request; and</li>
                    <li>if we use the information about you on the basis of legitimate interest for purposes other than direct marketing, you can object to our using it for those purposes, giving an explanation of your particular situation, and we will consider your objection.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>to withdraw your consent to our using it</li>
                  </ul>
                </td>
                <td>
                  <p>This applies if the legal basis on which we use the information about you is consent. These cases will be clear from the context (for example, if you gave your consent using the preference center in one of our apps, you can withdraw your consent by turning off the corresponding toggle).</p>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>to data portability</li>
                  </ul>
                </td>
                <td>
                  <p>If:</p>
                  <ul>
                    <li>you have provided data to us; and</li>
                    <li>we use that data, by automated means, and on the basis either of your consent, or on the basis of discharging our contractual obligations to you,</li>
                    <li>then you have the right to receive the data back from us in a commonly used format, and the right to require us to transmit the data to someone else if it is technically feasible for us to do so.</li>   
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>to lodge a complaint with the supervisory authority in your country</li>
                  </ul>
                </td>
                <td>
                  <p>Each European Economic Area country must provide for one or more public authorities for this purpose.
                  <br><br>
                  You can find their contact details here:
                  <br><br>
                  <a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>
                  <br><br>
                  For other countries please consult the website of your country’s authority.</p>
                </td>
              </tr>
            </tbody>
          </table>

          <h4>Country-specific additional points</h4>

          <p>According to which country you are in, you may have some additional rights.</p>

          <b>If you are in the Philippines, find out more…</b>

          <p>If you are in the Philippines, you may have rights in addition to those set out in this notice in accordance with the Philippine Data Privacy Act and its implementing rules and regulations, including the National Privacy Commission’s Privacy Policy Office Advisory Opinion No. 2018-031.</p>

          <b>If you are in France, find out more...</b>

          <ul>
            <li>If you are in France, you have the right to give us instructions regarding information we hold about you in the event of your death (specifically, whether we should store or delete it, and whether others should have the right to see it). You may:</li>
          </ul>

          <ol>
            <li>issue general instructions to a digital service provider registered with the French data protection supervisory authority (called “CNIL”) (these instructions apply to all use of information about you); or</li>
            <li>give us specific instructions that apply only to our use of information about you.</li>
          </ol>

          <p>Your instructions may require us to transfer information about you to a third party (but where the information contains information about others, our obligation to respect also their privacy rights might mean that we can’t follow your instructions to the letter). You may appoint a third party to be responsible for ensuring your instructions are followed. If you do not appoint a third party in that way, your successors will (unless you specify otherwise in your instructions) be entitled to exercise your rights over information about you after your death:</p>

          <ul>
            <li>in order to administer your estate (in which case your successors will be able to access information about you to identify and obtain information that could be useful to administer your estate, including any digital goods or data that could be considered a family memory that is transferable to your successors); and</li>
            <li>to ensure that parties using information about you take into account your death (such as closing your account, and restricting the use of, or updating, information about you).</li>
          </ul>

          <p>You may amend or revoke your instructions at any time. For further information on the processing of information about you in the event of your death, see Article 40-1 of the law 78-17 dated 6 January 1978. When you die, by default, you will stop using your account and we will delete information about you in accordance with our retention policies (see the paragraph “How long will information about you be kept?” for details).</p>

          <b>If you are in Australia, find out more...</b>

          <ul>
            <li>If you are in Australia, the following additional information applies to you:</li>
          </ul>

          <ol>
            <li>if you do not provide your personal information to us, we may not be able to (as applicable) provide you with the information, products or services that you request; and</li>
            <li>our Privacy Policy (available at <a href="https://www.pmiprivacy.com/en-au/privacy-policy">https://www.pmiprivacy.com/en-au/privacy-policy</a>) explains: (i) how you may access and correct the personal information that we hold about you; (ii) how you can lodge a complaint regarding our handling of your personal information; and (iii) how we will handle any complaint.</li>
          </ol>

          <h4>Who should you contact with questions?</h4>

          <p>If you have any questions, or wish to exercise any of your rights, you can find contact details for the relevant PMI affiliate, and if applicable data protection officer, <a href="https://pmiprivacy.com/en/consumer/affiliates">here</a>. Contact details will also be given in any communications that a PMI affiliate sends you.
          <br><br>
          If your country has a data protection authority, you have a right to contact it with any questions or concerns. If the relevant PMI affiliate cannot resolve your questions or concerns, you also have the right to seek judicial remedy before a national court. 

          <h4>Changes to this notice</h4>

          <p>We may update this notice (and any supplemental privacy notice), from time to time. Where the law requires it, we will notify you of the changes; further, where the law requires it, we will also obtain your consent to the changes.
          <br><br>
          Last modified 10 June 2020. You can find previous versions of this notice <a href="https://pmiprivacy.com/en/consumer/legal-document/legal-documents">here</a>.</p>
        </div>
      </div>
    </main><!-- /.container -->


<div class="footer">
  <p>Copyright © 2019 PMFTC-KitApp. All rights reserved. 
  <a href="privacy-policy">Privacy Policy</a> | 
  <a href="terms-conditions">Terms and Conditions</a>
</div>
 </body>

 <script type="text/javascript" src="js/js-util/jquery.min.js"></script>
</html>