<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Kitapp | CMS">
    <meta property="og:description" content="PMFTC Kitapp">
    <meta property="og:image" content="image/logo-default.png">
    <meta property="og:url" content="https://pfmtc.kitapp.com/">
    <link rel="icon" type="image/png" sizes="96x96" href="image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <title>KITAPP CMS</title>
  </head>

 <body class="login">
     <main role="main" class="container-fluid no-gutters">
     	<div class="col-md-12 no-gutters">
     		<div class="row">
		        <div class="col-md-5 login-bg"></div>

		        <div class="col-md-7 login-form">
		        	<h3>Reset Password</h3>
		        	<p>Enter your new password.</p>
		        	 <!-- Alert Messages -->
					<div class="alert alert-success" id="success_reset_password" role="alert" style="display: none;">
						Your password has been reset successfully!
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  		<span aria-hidden="true">&times;</span>
						</button>
					</div>

		        	<form>
						<div class="form-group">
		        		<input type="password" class="form-control reset_pass_inputs" id="new_password" placeholder="New Password" required>
						<div class="feedback" style="text-align:left;padding-left: 25px;">
				          Password must contain a lowercase letter, uppercase letter and number. Min 8 characters.
				        </div>
						</div>
						<div class="form-group">
				       	<input type="password" class="form-control reset_pass_inputs" id="confirm_password" placeholder="Confirm Password" required>
		        		<div class="feedback f_confirm_password" style="text-align:left;padding-left: 25px;">
				          Password must contain a lowercase letter, uppercase letter and number. Min 8 characters.
				        </div>
						</div>
		        		<a class="btn btn-primary-round reset_pass_btn disabled" id="reset_password_btn">Reset Password</a>
		        		<a href="/" class="reset_pass_btn disabled"><i class="fas fa-long-arrow-alt-left "></i> Back to Homepage</a>

		        	</form>
					<div class="footer">
				 		<p>Copyright © 2019 PMFTC-KitApp. All rights reserved. 
				 		<a href="privacy-policy">Privacy Policy</a> | 
				 		<a href="terms-conditions">Terms and Conditions</a>
			 		</div>
		        </div>
	 		</div>  
     	</div>
    </main><!-- /.container -->

 </body>

 <script type="text/javascript" src="js/js-util/jquery.min.js"></script>
 <script type="text/javascript" src="js/js-util/bootstrap.bundle.min.js"></script> 
 <script type="text/javascript" src="js/app.js"></script>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
</html>