<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Kitapp | CMS">
    <meta property="og:description" content="PMFTC Kitapp">
    <meta property="og:image" content="image/logo-default.jpg">
    <meta property="og:url" content="https://pfmtc.kitapp.com/">
    <link rel="icon" type="image/png" sizes="96x96" href="image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <title>KITAPP CMS</title>
  </head>

 <body class="privacy-terms">
    <header>
      <nav class="navbar navbar-expand-md fixed-top">
        <a href="/"><img src="image/logo-white.png" class="logo"></a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Back to Homepage</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <div class="container">
        <div class="col-md-12">
          <a href="/" class="back-home"> Back to Homepage</a>
          <h1> Terms and Conditions </h1>
        </div>

        <div class="col-md-12">
        <p>This website (the " Website") is owned and operated by or on behalf of <b>PMFTC Inc.</b> (" PM") based in the Philippines. In the course of logging onto the Website, you will have been asked to read and agree to these Terms and Conditions. Therefore, by logging onto the Website, you will be assumed to have read and agreed to these Terms and Conditions.</p>

        <h4>WEBSITE USERS</h4>

        <p>The Website is intended for PMFTC representatives at least 18 years old and above who have been provided with a username and password for access. Your username and password are strictly personal and must not be shared with anyone else.</p>

        <h4>USE OF THE WEBSITE AND MATERIALS</h4>

        <p>The Website and all its contents (including but not limited to messages posted on the forum, if any, software, files, graphics, data, images and other material) (" Material") are the exclusive property of PM, its affiliates, and/or its licensors and are protected by the intellectual property laws of the Philippines as well as in other countries. The Website and the Material are provided solely for business use. Any other use of the Website or the Material, including but not limited to:</p>

        <ul>
          <li>using the Website or Materials for personal purposes;</li>
          <li>distributing, sharing, copying, reproducing or publishing the Material; or</li>
          <li>modifying, distributing, transmitting, performing, broadcasting, reproducing, publishing licensing, or reverse engineering parts or all of the Website, without the prior written permission of PM, is expressly prohibited.</li>
        </ul>

        <h4>POSTING DEVELOPED MATERIALS</h4>

        <p>You acknowledge, represent and warrant that all tangible and intangible materials, including texts, drawings, designs, photographs, videos, sketches, and all other materials and ideas, which you have posted on the Website (" Developed Materials") are <b>your original work for which you have the related intellectual property rights or work to which you have obtained exhaustive intellectual property rights.</b> You also acknowledge, represent and warrant that such Developed Materials do not and will not infringe the intellectual property rights of any third party.</p>

        <p>You acknowledge and agree that by posting the Developed Materials on the Website you relinquish all rights to such Developed Materials and that such Developed Materials shall belong to PM (unless PM notifies you otherwise) and shall be subject to PM’s and its designees’ unrestricted use.</p>

        <p>You acknowledge and agree that by posting Developed Materials on the Website, you automatically and irrevocably assign to PM all intellectual property rights therein, free and clear of any liens, claims or other encumbrances, to the fullest extent permitted by law, as from the date of creation of such Developed Materials and you waive any moral rights there into the fullest extent permitted by law.</p>

        <p>All Developed Materials may be used, altered, duplicated and/or reproduced in all forms and for all media, whether known or unknown, including all electronic media, worldwide, by PM and its designees. You hereby agree to any alteration, modification or combination of any Developed Materials. PM may combine any Developed Materials with any other elements, information, materials, works or designs to which PM has or may obtain rights from any source. You acknowledge and agree that you shall not receive any form of compensation for use of the Developed Materials in any manner and waive any right to be named as the author of such Developed Materials.</p>
        
        <h4>DISCLAIMER</h4>

        <p>Your use of the Website is at your sole risk. The Website is provided on an "as is" and "as available" basis. PM and its affiliates expressly disclaim all warranties of any kind, whether express or implied, including but not limited to the implied warranties that the Website and Materials are non-infringing, accurate and appropriate; that access to the Website will be uninterrupted and error-free; that the Website will be secure; that the Website or the servers that make the Website available will be virus-free; or that information on the Website will be complete, accurate, appropriate and timely. If you download any Materials from the Website, you do so at your own discretion and risk. You will be solely responsible for any damage to your computer system or loss of data that results from the download of any such Materials. In addition to the above, you assume the entire cost of all necessary servicing, repair or correction.</p>

        <h4>LIMITATION OF LIABILITY</h4>
        <p>To the fullest extent permitted under applicable law, you understand and agree that neither PM nor any of its respective affiliates, subsidiaries or third party content providers shall be liable for any direct, indirect, incidental, special, exemplary, consequential, punitive or any other damages relating to or resulting from your use or inability to use the Website or from any actions we take or fail to take as a result of your communication with us. These include damages for errors, omissions, inaccuracies, interruptions, defects, delays, computer viruses, your loss of profits, loss of data, unauthorized access to and alteration of your transmissions and data, and other tangible and intangible losses.</p>

        <h4>INDEMNIFICATION</h4>
        <p>You agree to indemnify, defend and hold harmless PM and any of its affiliates or subsidiaries, and its officers, directors, employees, agents, licensors and suppliers from and against all losses, liabilities, expenses, damages and costs, including reasonable attorneys' fees and court costs, arising out of or resulting from any violation of these Terms and Conditions(including but not limited to negligent or wrongful conduct) by you or any other person accessing the Website using your username and password. If you cause a technical disruption of the Website or the systems transmitting the Website to you or others, you agree to be responsible for any and all losses, liabilities, expenses, damages and costs, including reasonable attorneys' fees and court costs, arising or resulting from that disruption.</p>

        <h4>JURISDICTION AND GOVERNING LAW</h4>
        <p>The laws of the Philippines govern these Terms and Conditions and your use of the Website, and you irrevocably consent to the exclusive jurisdiction of the courts located in Marikina City for any action to enforce these Terms and Conditions. The Website has been designed to comply with the laws of the Philippines.</p>
        </div>
      </div>
    </main><!-- /.container -->


<div class="footer">
  <p>Copyright © 2019 PMFTC-KitApp. All rights reserved. 
  <a href="privacy-policy">Privacy Policy</a> | 
  <a href="terms-conditions">Terms and Conditions</a>
</div>
 </body>

 <script type="text/javascript" src="js/js-util/jquery.min.js"></script>
</html>