    <!-- // Dashboard Content -->
 <div class="dashboard-content page-welcome">
      <div class="container">
          <div class="row-fluid">
            <div class="col-md-12 page-title">
              <h4>Welcome!</h4>
            </div>

            <div class="col-md-12 page-welcome--greetings">
              <p>Hi {{user_data.full_name}}!</p>
          </div>
          </div>
      </div>
    </div>